*{
    margin: 0;
    padding: 0;
    
}




.demo-javascript{
    margin-top: 20px;
   
    align-items: center;
    justify-content: center;
    background-color: aqua;
    height: 300px;
    display: flex;
    border: none;
}

.box{
   
    /* align-items: center; */
  
}

/*  examle 2 css*/

.p12{
    margin-top: 50px;
    text-align: center;
}